* {
    padding: 0;
    margin: 0;
  }
  
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
  
  .container {
    background-image: url(assests/images/background.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .female {
    width: 100%;
    display: flex;
    opacity: 0;
    top: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .female img {
    width: 50%;
  }
  
  .headline {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-1500px);
  }


  
  @keyframes headline-fromLeft-vanish {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateY(300px);
    }
  }

  @keyframes headline-fromLeft {
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes female {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes female-vanish {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .headline img {
    width: 30%;
  }
  
  .headline2 {
    opacity: 1;
    position: absolute;
    top: -100px;
    transform: translateX(1500px);
  }
  
  @keyframes headline2-fromLeft {
    100% {
      transform: translateX(0);
    }
  }
  
  .headline2 img {
    width: 50%;
  }
  
  .logo {
    position: absolute;
    top: -60px;
    transform: translateX(-850px);
  }
  
  @keyframes logo-out {
    100% {
      transform: translateX(850px);
    }
  }
  
  .logo img {
    width: 30%;
  }
  
  .subHead {
    position: absolute;
    top: 50px;
    opacity: 0;
    transform: translateX(150px);
  }
  
  @keyframes subHead-show {
    100% {
      opacity: 1;
    }
  }
  
  .subHead img {
    width: 80%;
  }
  
  .learnMore {
    width: 50%;
    position: absolute;
    top: 750px;
    opacity: 0;
    left: 525px;
  }
  
  @keyframes learnMore-show {
    100% {
      opacity: 1;
    }
  }
  
  .replay-btn {
    position: absolute;
    top: 830px;
    opacity: 0;
    cursor: pointer;
  }
  
  @keyframes replay {
    100% {
      opacity: 1;
    }
  }
  
  .loading {
    display: flex;
    align-items: center;
    width: 300px;
    height: 15px;
    margin-top: 15px;
  }
  
  .loading button {
    margin-right: 5px;
    color: black;
    background-color: transparent;
    border: none;
  }
  
  .loading button i {
    cursor: pointer;
  }
  